
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.nothingImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}